html,
body {

    background-color: #171a45;
    color: white;
    font-family: 'Quicksand', sans-serif;
    height: 100%;
    font-size: 80.5%;
    font-weight: 400;
    line-height: 1.7;
}

.nav-link {
    color: #9a9db8;
    font-weight: 700;
}

.nav-item {
    margin-right: 10px;
}

.active {
    color: white;
    border-bottom: 3px white solid;
}

.nav-link:hover {
    border-bottom: 3px white solid;
    color: white;
}

.navbar-brand {
    color: white;
    margin-right: 30px;
}

.navbar-toggler-icon {
    border-color: white;
}

.teste {
    margin-top: auto;
    margin-bottom: auto;
}

.content-wrapper {
    position: relative;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

img {
    display: block;
    margin: auto;
    max-width: 50%;
    height: auto;
    border-radius: 50%;
}

.img_wrapper {
    display: flex;
}

.btn_spacing {
    margin-top: 30px;
    margin-right: 10px;
}


/*-------------------------------------------------------------------------------*/

.u-center-text {
    text-align: center !important;
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
    margin-bottom: 4rem !important;
}

.u-margin-top-big {
    margin-top: 5rem !important;
}



.btn,
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 0.5rem;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    position: relative;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
}

.btn:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
    -webkit-transform: scaleX(1.4) scaleY(1.6);
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn:active,
.btn:focus {
    outline: none;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
    background-color: #fff;
    color: #777;
}

.btn--white::after {
    background-color: #fff;
}

.btn--green {
    background: -webkit-gradient(linear, left top, right top, from(#fc466b), to(#3f5efb));
    background: linear-gradient(to right, #fc466b, #3f5efb);
    color: #fff;
}

.btn--green::after {
    background-color: #55c57a;
}



.section-plans {
    background-color: #171a45;
    margin-bottom: 10px;
}

.card {
    height: 35rem;
}

.card__side {
    height: 100%;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}


.card__side--front-1 {
    background: linear-gradient(-45deg, #f403d1, #64b5f6);
    background-image: url("/assets/images/profile.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.card__side--back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.card__side--back-1 {
    background: linear-gradient(-45deg, #12df94, #5be2fe);
}


.card:hover .card__side--front-1,
.card:hover .card__side--front-2,
.card:hover .card__side--front-3 {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.card:hover .card__side--back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
}

.card__title {
    height: 1rem;
    padding: 4rem 1rem 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.card__title--1 .fas {
    font-size: 2rem;
}

.card__heading {
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    width: 75%;
}

.card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.card__details {
    padding: 0 2rem 2rem;
}

.card__details ul {
    list-style: none;
    width: 80%;
    margin: 0 auto;
}

.card__details ul li {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
}

.card__details ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
}

.card__price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem;
}

.card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
}

.card__price-value {
    font-size: 6rem;
    font-weight: 100;
}
