svgImg {
    width: 120px;
}

.stroke-still {
    stroke: #fff;
}

.stroke-animation {
    -webkit-animation: stroke-spacing 0.84s ease-in, stroke-color 3.36s linear;
    animation: stroke-spacing 0.84s ease-in, stroke-color 3.36s linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-delay: 0;
    animation-delay: 0;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    -webkit-transform-origin: center center;
    transform-origin: center center;
}

@-webkit-keyframes stroke-spacing {
    0% {
        stroke-dasharray: 0 200;
    }

    45% {
        stroke-dashoffset: 0;
        stroke-dasharray: 200 200;
    }

    90% {
        stroke-dashoffset: -200;
        stroke-dasharray: 200 200;
    }

    100% {
        stroke-dashoffset: -200;
        stroke-dasharray: 200 200;
    }
}

@keyframes stroke-spacing {
    0% {
        stroke-dasharray: 0 200;
    }

    45% {
        stroke-dashoffset: 0;
        stroke-dasharray: 200 200;
    }

    90% {
        stroke-dashoffset: -200;
        stroke-dasharray: 200 200;
    }

    100% {
        stroke-dashoffset: -200;
        stroke-dasharray: 200 200;
    }
}

@-webkit-keyframes stroke-color {
    0% {
        stroke: #F2F2F2;
    }

    24% {
        stroke: #BDCCD4;
    }

    25% {
        stroke: coral;
    }

    49% {

        stroke: yellow;
    }

    50% {
        stroke: #ff931e;
    }

    74% {
        stroke: #F15A24;
    }

    75% {
        stroke: #B5441B;
    }

    99% {
        stroke: #7B2506;
    }
}

@keyframes stroke-color {
    0% {
        stroke: #F2F2F2;
    }

    24% {
        stroke: #BDCCD4;
    }

    25% {
        stroke: coral;
    }

    49% {

        stroke: yellow;
    }

    50% {
        stroke: #ff931e;
    }

    74% {
        stroke: #F15A24;
    }

    75% {
        stroke: #B5441B;
    }

    99% {
        stroke: #7B2506;
    }
}
